html {
  font-size: 100%;
}

body {
  margin: 0;
}

/* https://www.smashingmagazine.com/2015/12/reimagining-single-page-applications-progressive-enhancement */
main > * {
  display: none;
}

main > *:target {
  display: block;
}

main > *:last-child {
  display: block;
}

main > *:target ~ * {
  display: none;
}

.Shell {
  display: flex;
  overflow-y: hidden;
  height: 100vh;
}

.Shell-content {
  flex: 1;
}

.Shell-navigation {
  width: 25%;
  order: -1;
  overflow-y: auto;
}

.js .Shell-navigation {
  display: none;
}

.Hexagram {
  display: flex;

  height: 100vh;

  justify-content: center;
  align-items: center;
}

.Hexagram-character {
  font-size: calc(1em + 10vw);
}
